header {
  display: flex;
  height: 400px;
  width: 100vw;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/asfalt-light.png");
  background-color: #e89a0b;
}

header div img {
  width: 200px;
  height: auto;
}

header div h2 {
  margin-top: 0px;
}


.avatar-header {
  background-color: #e89a0b;
  padding-top: 120px;
}
