header {
  display: flex;
  height: 400px;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/asfalt-light.png");
  background-color: #e89a0b;
}

header div img {
  margin-top: 120px;
  width: 200px;
  height: auto;
}

header div h2 {
  margin-top: 0px;
}

.header-stuff {
  background-color: #e89a0b;
}
