nav {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  color: #ffffff;
  background-image: url("../images/asfalt-light.png");
  font-family: "Bungee", "sans-serif";
  padding: 4vh;
  z-index: 1;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 200%;
}

div.container {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro";
}

.fa-angles-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 45%;
  color: rgb(202, 5, 5);
  animation-name: upDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

nav span.bold {
  font-weight: 900;
}

@keyframes upDown {
  to {
    padding-top: 10px;
  }
}

.bold-me {
  font-weight: bold;
}

.fa-angles-down {
  color: red;
}
