nav {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee", "sans-serif";
  padding: 1.5em;
  z-index: 1;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 200%;
}

nav div.container {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro";
}

.fa-solid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 45%;
  color: rgb(202, 5, 5);  
}

nav span.bold {
  font-weight: 900;
}
